# === 공통 ===
*.class
*.log
*.pyc
*.swp
*.tmp
*.lock
.DS_Store
HELP.md
*.env

# === IDE 관련 ===
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-workspace
*.sublime-project

# === STS ===
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# === Flutter 관련 (Mobile/) ===
Mobile/.dart_tool/
Mobile/.packages
Mobile/.flutter-plugins
Mobile/.flutter-plugins-dependencies
Mobile/.pub-cache/
Mobile/.pub/
Mobile/build/
Mobile/.melos_tool/
Mobile/migrate_working_dir/

Mobile/ios/Flutter/.last_build_id
Mobile/android/.gradle/
Mobile/android/app/debug/
Mobile/android/app/profile/
Mobile/android/app/release/
Mobile/windows/
Mobile/linux/
Mobile/macos/
Mobile/asset/generated_plugin_registrant.dart

# === Flutter symbol/obfuscation 관련 ===
Mobile/app.*.symbols
Mobile/app.*.map.json

# === Spring 관련 (BackEnd/) ===
BackEnd/.gradle/
BackEnd/build/
BackEnd/nbbuild/
BackEnd/nbproject/
BackEnd/nbdist/
BackEnd/dist/

BackEnd/src/main/resources/application-private.properties

# Gradle wrapper (예외 처리)
!BackEnd/gradle/wrapper/gradle-wrapper.jar
!BackEnd/src/main/**/build/
!BackEnd/src/test/**/build/
!BackEnd/src/main/**/bin/
!BackEnd/src/test/**/bin/
!BackEnd/src/main/**/out/
!BackEnd/src/test/**/out/

# === 테스트 디렉토리 무시하지 않음 ===
!Mobile/test/
!BackEnd/src/test/
